.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  padding: 0.8rem;
}

.container_item {
  width: 15rem;
  margin: 1rem;
  text-align: left;
  position: relative;
  outline: #232323 solid 1px;
  border-radius: 0.3rem;
}

.title {
  background-color: rgb(48, 45, 45);
  color: #ffff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos {
  margin: 0 0.5rem;
}

.title:hover {
  cursor: pointer;
}

.page_title {
  text-align: center;
}

.btn {
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  width: 7rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.space {
  margin-top: 3rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
