.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 0.8rem;
}

.container_item {
  width: 15rem;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.title {
  background-color: rgb(211, 206, 206);
  height: 3rem;
  border-radius: 0.2rem;
}
